@using Mechanic.Shared
@using Mechanic.UI.Services
@inject IClientService ClientService

<EditForm Model="job" OnValidSubmit="OnValidSubmit">
	<DataAnnotationsValidator/>
	<ValidationSummary/>


	<div class=" mb-3">
		<label class=" form-control-plaintext">Job ID</label>
		<InputText @bind-Value="job.jobId" class="@("cursor-disabled")" disabled ="@IsDisabled" />
		<ValidationMessage For="() => job.jobId" />
	</div>

	<div class=" mb-3">
		<label class=" form-control-plaintext">Job ID</label>
		<InputText @bind-Value="job.customerId" class="@("cursor-disabled")" disabled="@IsDisabled" />
		<ValidationMessage For="() => job.customerId" />
	</div>

	<div class="mb-3">
		<label class="form-label">Customer</label>
		<InputSelect @bind-Value="job.customerId" class="form-control">
			<option value="">-- Select a client --</option>
			@foreach (var c in clients)
			{
				<option value="@c.Id">@($"{c.Name} || ({c.Email})")</option>
			}
		</InputSelect>
		<ValidationMessage For="() => job.customerId" />
	</div>



	<div class=" mb-3">
		<label class=" form-label">License Plate</label>
		<InputText @bind-Value="job.licensePlate" class=" form-control"/>
		<ValidationMessage For="() => job.licensePlate"/>
	</div>
	<div class=" mb-3">
		<label class=" form-label">Manufacturing Year</label>
		<InputNumber @bind-Value="job.manufacturingYear" class=" form-control"/>
		<ValidationMessage For="() => job.manufacturingYear"/>
	</div>
	<div class=" mb-3">
		<label class=" form-label">Work Category</label>
		<InputSelect @bind-Value="job.workCategory" class=" form-control">
			@foreach(workCategory category in Enum.GetValues(typeof(workCategory)))
			{
				<option value="@category">@category</option>
			}
			<ValidationMessage For="() => job.workCategory"/>
		</InputSelect>
	</div>

	
	<div class=" mb-3">
		<label class=" form-label">Description </label>
		<InputText @bind-Value="job.description" class=" form-control" />
		<ValidationMessage For="() => job.description" />
	</div>
	<div class=" mb-3">
		<label class=" form-label">Severity </label>
		<InputNumber @bind-Value="job.severity" class=" form-control" />
		<ValidationMessage For="() => job.severity" />
	</div>
	

	<div class="mb-3">
		<label class="form-label">Work Status</label>
		<InputSelect @bind-Value="job.status" class="form-control">
			@foreach (workStage stage in Enum.GetValues(typeof(workStage)))
			{
				<option value="@stage">@stage</option>
			}
		</InputSelect>
		<ValidationMessage For="() => job.status" />
	</div>

	<div class="mb-3">
		<label class="form-label">Working Hours</label>
		<input type="text" class="form-control" value="@job.estimatedHours" readonly />
	</div>

	<button type="submit" class="btn btn-primary">@ButtonText</button>
</EditForm>


@code {
	[Parameter]
	public Job job { get; set; }


	[Parameter]
	public Func<Task> OnValidSubmit{ get; set; }

	[Parameter]
	public string ButtonText{ get; set; }

	protected bool IsDisabled { get; set; }

	public List<Client> clients = new();

	protected override async Task OnInitializedAsync()
	{
		clients = await ClientService.GetClientsAsync();
	}

}
